header {
  box-shadow: var(--shadow);
}
.header {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.header__title h2 {
  font-size: 1rem;
}

.header__search-bar {
  display: flex;
  width: 100%;
  border-radius: 0.75rem;
  border: 2px solid lightgray;
  overflow: hidden;
}

.header__search-bar input {
  width: 100%;
  flex: 1;
  padding: 0.25rem 0.5rem;
  color: var(--font-color);
  border: 0;
}

.header__search-bar input:focus-visible {
  outline: none;
}

.header__button {
  width: 2.5rem;
  cursor: pointer;
}

.header__search-bar-container {
  position: relative;
  width: 55%;
}

.suggestions {
  background: #fff;
  border: 2px solid #d3d3d3;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  position: absolute;
  right: -5px;
  left: 0;
}

.suggestions > span {
  content: 'X';
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 1.5rem;
  display: fex;
  border-radius: 50%;
  background: #d3d3d3ad;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggestions > button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  border: 1px solid lightgray;
  display: block;
  margin-bottom: 0.5rem;
}

.suggestions > button:hover {
  background: #d3d3d33d;
  transition: 0.2s;
}

@media screen and (min-width: 1024px) {
  .header__title h2 {
    font-size: 1.25rem;
  }

  .header__search-bar input {
    padding: 0.5rem 0.5rem;
  }

  .header__search-bar {
    border-radius: 1rem;
  }

  .header__search-bar-container {
    width: 75%;
  }

  .suggestions > button {
    display: inline-block;
    font-size: 1rem;
    margin-right: 1rem;
  }
}
