body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-color);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

@import './header.css';
@import './variables.css';
